*.o
*.d
*.a
*.ko
.*.cmd
*.pyc
*.swp
__pycache__/
_vimrc_local.vim
sims/nic/corundum/obj_dir
sims/nic/corundum/corundum_verilator
sims/nic/i40e_bm/i40e_bm
sims/net/wire/net_wire
sims/net/tap/net_tap
sims/net/switch/net_switch
sims/tofino/tofino
doc/doxygen
doc/_build
images/kernel/kheaders/
images/mqnic/Module.symvers
images/mqnic/modules.order
images/mqnic/mqnic.mod*
images/vmlinux
images/bzImage
images/output-*
images/packer
images/packer_cache
images/kheaders.tar.bz2
images/kernel/linux-*/
experiments/build
experiments/out
experiments/local-config.sh
experiments/slurm
dist/net_rdma
trace/process
mk/local.mk
