*.o
*.a
*.ko
.*.cmd
_vimrc_local.vim
dummy_nic/dummy_nic
corundum/obj_dir
corundum/corundum_verilator
net_wire/net_wire
net_tap/net_tap
images/mqnic/Module.symvers
images/mqnic/modules.order
images/mqnic/mqnic.mod*
images/vmlinux
images/bzImage
images/output-ubuntu1804
images/packer
images/packer_cache
images/kernel/linux-*/
experiments/build
experiments/out
experiments/local-config.sh
gem5/
qemu/
ns-3/
