*.o
*.d
*.a
*.ko
.*.cmd
*.pyc
*.swp
__pycache__/
_vimrc_local.vim
lib/test/parser_test
sims/mem/basicmem/basicmem
sims/mem/interconnect/interconnect
sims/mem/memnic/memnic
sims/mem/memswitch/memswitch
sims/mem/netmem/netmem
sims/nic/corundum/corundum_verilator
sims/nic/corundum/obj_dir
sims/nic/e1000_gem5/e1000_gem5
sims/nic/i40e_bm/i40e_bm
sims/net/wire/net_wire
sims/net/tap/net_tap
sims/net/switch/net_switch
sims/net/menshen/menshen_hw
sims/net/menshen/obj_dir
sims/net/tofino/tofino
doc/doxygen
doc/_build
docker/requirements.txt
images/farmem/Module.symvers
images/farmem/modules.order
images/farmem/farmem.mod*
images/kernel/kheaders/
images/mqnic/Module.symvers
images/mqnic/modules.order
images/mqnic/mqnic.mod*
images/vmlinux
images/bzImage
images/input-*
images/output-*
images/packer
images/packer_cache
images/kheaders.tar.bz2
images/kernel/linux-*/
experiments/build
experiments/out
experiments/local-config.sh
experiments/slurm
experiments/simbricks-workdir
dist/rdma/net_rdma
dist/sockets/net_sockets
runner-work
trace/process
mk/local.mk
compile_commands.json
.cache
.eggs
.env
.python-version
.vscode
symphony/**/dist
auth.json
