[submodule "sims/external/gem5"]
	path = sims/external/gem5
	url = https://github.com/simbricks/gem5.git
[submodule "sims/external/qemu"]
	path = sims/external/qemu
	url = https://github.com/simbricks/qemu.git
[submodule "sims/external/ns-3"]
	path = sims/external/ns-3
	url = https://github.com/marvin71/ns-3.git
[submodule "sims/external/femu"]
	path = sims/external/femu
	url = https://github.com/simbricks/femu.git
